<div >
    {{#if userData.email}}

      <h2>Welcome {{userData.name}}</h2>
      <p>Role: {{userData.role}}</p>
        <div class="nav-btn">
          <form action="/profile" method="get">
            <button class="green-btn" type="submit">Profile</button>
          </form>  
          <form action="/logout"  method="get">
            <button class="red-btn"type="submit">Logout</button>
          </form>
        </div>
          

      {{#if isValid}}
        {{#if isProducts}}
          <h3>Products</h3>
          {{#each productsToShow}}
            <ul>

              <li>Title: {{title}}</li>
              <li>Description: {{description}}</li>
              <li>Code: {{code}}</li>
              <li>Price: {{price}}</li>
              <li>Status: {{status}}</li>
              <li>Category: {{category}}</li>
              <li>Stock: {{stock}}</li>
              <li>Thumbnails: {{thumbnails}}</li>         
              
              <form >
                <input required type="number" id="quantity" name="quantity" min="1" max="{{stock}}"><br><br>
                <input type="hidden" id="idProduct" name="idProduct" value={{_id}}>
                <input type="hidden" id="idCart" name="idCart" value={{idCart}}>
                <button type="button" onclick="sendToCart(event)">Add to Cart</button>
              </form>

            </ul>
          {{/each}}
          <div>
            {{#if productsPaginate.hasPrevPage}}
                <a href={{productsPaginate.prevLink}}><< Previous Page</a>
            {{/if}}
            &nbsp;
            {{productsPaginate.page}}
            &nbsp;
            {{#if productsPaginate.hasNextPage}}
                <a href={{productsPaginate.nextLink}}>Next Page >></a>
            {{/if}} 
          </div>
        {{else}}
          <h3>No hay productos para mostrar</h3>
        {{/if}}
      {{else}}
        <h3>Invalid Page Number</h3>
      {{/if}}
  

       {{else}}
       <h2>You must login to see products</h2>
       <a href="/login">Return to Login</a>
    {{/if}}
  </div>
<script src="/js/productsCart.js"></script>